html, body { 
height: 100%; 
width: 100%; 
margin: 0; 
}

body {
  	margin: 0;
 	padding: 0;
	background-color: #FFF;
	font-family: 'Raleway', sans-serif;
	width: 100%;
    height: 100%;
    overflow-x: hidden;

}

.homeslide {
	background: url(images/city6.gif);
	background-repeat:no-repeat;
  	background-size: cover;
  	background-position:center bottom;
  	height: -webkit-fill-available;
  	text-align: center;
}

.headers {
	padding: 3em 14em 1em 14em;
    background-color: #7BDCD5;
	text-align: center;
	color: #FFF;
}

@media (max-width: 768px) {.headers {
    padding: 1em;
}
}

.headers h1 {
  color: #FFF;
  font-size: 4em;
  line-height: 60px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
 font-family: 'Roboto', sans-serif;


} 

.headers h3 {
	font-size: 20px;
 	font-family: 'Raleway', sans-serif;
 	padding-left: 5em;
    padding-right: 5em;

}

@media (max-width: 768px) {.headers h2 {
    padding: 0em;
}
}

.services-list {
  list-style: none;
  font-size: 25px;
  display: inline-flex;
  text-align: center;
}

.services-list li {
  padding: 1em;
  text-align: center;
}

/*.btn-learnmore {
  background-color: #D46363; 
  border: none;
  color: #FFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}

a {
  color: #FFF
}


.btn-learnmore:hover {
  background-color: #7BDCD5;
}*/
/*.highlight {
	color: rgba(255, 255, 255, 0.6);
}*/

/*.city {
  background-image: url(images/building.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  background-color: #D2CDCD;
  height: auto;
}*/


/*
.heading {
  box-sizing: border-box;
  margin: 0 auto;
  position: inherit;
  text-align: center;
  padding-top: 300px;
  width: 70%;
}*/

/*.btn {
  background-color: #91DBA6;
  color: #FFF;
  font-size: 26px;
  padding: 14px;
  border-radius: 5px;
  margin-top: 20px;*/
/*  background-image: -webkit-linear-gradient(#FFD194, #BC1324);*/


/*h1 {
  color: #FFF;
  font-size: 35px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
}

.heading h1 {
	background-color: rgba(145, 219, 166, 0.4);
  }*/

 #navigation {
 	font-size: 20px;
 	display: block;
 	text-align: right;
 	background-color: rgba(123, 220, 213, 1);
 	padding: 1em;

 }

 @media (max-width: 340px) {#navigation{
    font-size: 15px;
    display: flex;
    text-align: center;
}
}

#navigation img {
	float: left;
	border-radius: 100%;
	display: block;
  height: 35px;
  margin-left: 20px

}

@media (max-width: 340px) {#navigation img{
    visibility: hidden;
}
}


#navigation a {
	color: #FFF;
	padding: 0.25em;
	text-align: right;
}


.intro {
	color: rgba(212, 99, 99, 1);
	text-align: center; 
	padding: 2em;
}

.intro img {
	margin: auto;
	border-radius: 100%;
	display: block;
    height: 200px;
}

.intro h2 {
	padding-right: 15em;
	padding-left: 15em;
	font-size: 20px;
	color: black;
}

@media (max-width: 768px) {.intro h2 {
    padding: 0em;
}
}

/*about {
	padding: 2em;
}

.about h1 {
	text-align: center;
	color: #D46363;
	font-size: 40px;
	font-family: 'Rubik', sans-serif;

}

.about img {
	margin: auto;
	border-radius: 100%;
	display: block;
    height: 200px;
}

.about p {
	text-align: center;
	color: gray;
	padding-top: 20px;
	font-size: 20px;
}
*/
.skills {
	text-align: center;
}

.skills h2 {
  color: #D46363;
}

.skills-row {
  border: 0;
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  padding: 1rem 0;
}

#branding .skills-row {
  flex-direction: row-reverse;
}

.skills-text {
  width: 500px;
}
.skills-img {
  text-align: left;
}
.skills-row img {
  width: 500px;
}

@media (max-width: 760px) {
.skills-img {
    width: 100%;
    margin-left: 4rem;
}
}
.skills-list {
	display: inline-flex;
    list-style: none;
    padding: 0em;
  text-align: left;
}

@media (max-width: 768px) {.skills-list {
	display: inline-block;
	margin: 25px;
}
}


li.skills-items {
	padding: 3em;
	margin: 10px;
}

li.skills-items {
	color: black;
  width: 33.333%;
}

.red-line {
	display: inline-block;
    width: 60px;
    height: 2px;
    margin: 10px 0 20px;
    background-color: #7BDCD5;
}

.skills-items img {
	height: 50px;
	width: 50px;
	margin-bottom: 1em;
  display: inline-block;
}

.skills-items .content {
  display: inline-block;
}

/*li.skills-items p {
	visibility: hidden;
}

ul li:hover {
	background-color: #D2CDCD;
	border-radius: 15px;
}

ul li:hover p {
	visibility: visible;
	color: #FFF;
}

ul li:hover h3 {
	color: #FFF;
}*/

.skills-list-image {
	text-align: center;
    margin: 0 auto;
    padding-top: 15px;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    padding-top: 20px;
}
.skills-list-image:hover {
	background: -webkit-linear-gradient(294deg, rgba(123,220,213,1) 0%, rgba(123,220,213,1) 18%, 
  rgba(123,220,213,1) 24%, rgba(166,158,241,1) 68%, rgba(186,130,255,1) 88%);
    
}

.skills-items h3 {
	color: #D46363;
}

.banner1 {
  background: -webkit-linear-gradient(294deg, rgba(123,220,213,1) 0%, rgba(123,220,213,1) 18%, 
  rgba(123,220,213,1) 24%, rgba(166,158,241,1) 68%, rgba(186,130,255,1) 88%);
  height: 200px;
  text-align: center;
  color: white;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner1 h2 {
  height: 100px;
}

.process {
  text-align: center;
  padding: 1.5em;

}
.process-list {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.process-items {
  text-align: center;
  color: black;
  padding: 1.5em;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 1em;

}


.process-items ul {
    list-style: none;
    text-align: center;
    display: inline;
    font-size: 17px;
    padding: 0;
}


.process-items img{
  height: 50px;
  width: 50px;

}

.process-items h3{
  color: #7BDCD5;
}


.process-items:hover {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

/*-moz-border-radius: 30px; 
    border-radius: 30px; 

    background-color: #E96D6E;*/
/*
.services h1 {
	text-align: center;
	color: #91DBA6;
	padding-top: 20px;
	font-size: 40px;
	font-family: 'Rubik', sans-serif;

}*/

/*.expertise-containter {
	padding: 3em;

}

.col-4 {
	text-align: center;
}

.row {
	margin: 20px 0;
    position: relative;
    display: block;
}

.red-line {
	display: inline-block;
    width: 30px;
    height: 2px;
    margin: 10px 0 20px;
    background-color: #e9204f;
}

.services-col .col-4 {
	padding: 0;
    padding-right: 15px;
}

.col-4 .services-col h4 {
	text-align: left;
}

.services-list {
	display: block;
    width: 100%;
    list-style-type: none;
    text-align: left;

}

.services-item {
	width: 300px;
    background-color: rgba(210, 205, 205, 0.6);
    padding: 25px;
    margin: 25px;
}

.services-table {
	text-align: center;
}
.services-table .row {
	display: inline-flex;
}

@media (max-width: 768px) {.services-table .row {
	display: inline-block;
}
}

 


.services-item:hover { 
    background-color: #E96D6E;
}
*/
.col-4 {
	text-align: center;
}

.row {
	margin: 20px 0;
    position: relative;
    display: block;
}

.port-pic {
  width: 100%;
  /*height: 300px;*/
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
 overflow: scroll;
}

.port-pic img {
  display: inline-block;
}

.port-pic:hover img {
  opacity: 0.25;
}

.port-pic .website {
        opacity: 0;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
    	top: 50%;
        padding: 2px 10px;
        color: #FFF;
        text-decoration: none;
        text-align: center;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
        font-size: 25px;
        text-transform: uppercase;
        
    }
.port-pic:hover .website {
        opacity: 0.8;
    }

.col-lg-4 col-md-4 col-sm-4 col-xs-12 {
	overflow: scroll;
}

@media (max-width: 768px) {.col-sm-4 {
    width: 100%;
    padding: 1em
}
}

.icanhelp {
	text-align: center;
	margin-bottom: 8em;
  padding: 1em;
  background: -webkit-linear-gradient(294deg, rgba(123,220,213,1) 0%, rgba(123,220,213,1) 18%, 
  rgba(123,220,213,1) 24%, rgba(166,158,241,1) 68%, rgba(186,130,255,1) 88%);
  color: white;
}

.icanhelp p {
  padding: 1em;
}

.btn-contact {
	background-color: #D46363; 
    border: none;
    color: #FFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

.btn-contact a {
	color: #FFF
}

.btn-contact:hover {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

}


.footer { 
    display: block;
    color: #7BDCD5;
	   height: 300px;
    margin-top: -50px;
    text-align: center;
    list-style: none;
    padding: 1em;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background-image: url(images/city.png);
    background-repeat:no-repeat;
  	background-size: cover;
  	background-position:center bottom;
  	background-position-y: 50px;
}

.footer a {
  color: #7BDCD5;
}

@media (max-width: 430px) {.footer{
    height: 500px;
    font-size: 15px;
}
}

.contact-list {
	display: inline-flex;
    list-style: none;
    padding: 0em;
}

li.contact-items {
	padding: 1em;
}


@media (max-width: 430px) {.contact-list{
    display: inline-block;
}
}

/*.portfolio-list {
	display: inline-flex;
    list-style-type: none;

}

.portfolio-list li {
	padding: 1em;
}


#portfolio-img:hover {
	background-color: #E96D6E;

}
*/


/*.portfolio-item-1 {
	background-image: url(images/makeamovecoaching.png);
}

.portfolio-item-2 {
	background-image: url(images/tgindustries.png);
}

.portfolio-item-2 {
	background-image: url(images/popartmcgill.png);
}
*/

/*.imagecontainer {
	width:100%;
	height: auto;
	background: url(images/star.jpg) 50% 0 no-repeat;
	background-size:cover;
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 2em;
	text-align: center;
   }*/
