body {
  	margin: 0;
 	padding: 0;
	background-color: #FFF;
	font-family: 'Raleway', sans-serif;

}

#cover {
  Background: url('images/building.png');
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  /*height: 900px;
  position: relative;
  top: -55px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;*/
  background-color: #D2CDCD;
  height: -webkit-fill-available;
 
}

.heading {
  box-sizing: border-box;
  margin: 0 auto;
  position: inherit;
  text-align: center;
  padding-top: 300px;
  width: 70%;
}

.btn {
  background-color: #91DBA6;
  color: #FFF;
  font-size: 26px;
  padding: 14px;
  border-radius: 5px;
  margin-top: 20px;
/*  background-image: -webkit-linear-gradient(#FFD194, #BC1324);*/
}

h1 {
/*  background-color: #FFF;
*/color: #FFF;
  font-size: 35px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
}

.heading h1 {
	background-color: rgba(171, 175, 179, 0.95);
  }

 #navigation {
 	font-size: 30px;
 	display: block;
 	padding: 60px;
 	text-align: center;
 }

#navigation a {
	color: #FFF;
}

.about {
	padding-left: 15em;
	padding-right: 15em;
}

.about h1 {
	text-align: center;
	color: #91DBA6;
	font-size: 40px;
}

.about img {
	margin: auto;
	border-radius: 100%;
	display: block;
    height: 200px;
}

.about p {
	text-align: center;
	color: gray;
	padding-top: 20px;
	font-size: 20px;
}

.services h1 {
	text-align: center;
	color: #91DBA6;
	padding-top: 20px;
	font-size: 40px;
}

/*.imagecontainer {
	width:100%;
	height: auto;
	background: url(images/star.jpg) 50% 0 no-repeat;
	background-size:cover;
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 2em;
	text-align: center;
   }*/
