body {
  	margin: 0;
 	padding: 0;
	background-color: #FFF;
	font-family: 'Roboto', sans-serif;
	width: 100%;
    height: 100%;
    overflow-x: hidden;

}

.homeslide {
	background-color: #D2CDCD;
	background: url(images/city3.gif);
	background-repeat:no-repeat;
  	background-size: cover;
  	background-position:center bottom;
  	background-color: #D2CDCD;
  	height: -webkit-fill-available;

}

.headers {
	background-color: #D2CDCD;
	padding: 1.5em;
}


.headers h1 {
  color: white;
  font-size: 2em;
  line-height: 60px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
font-family: 'Raleway', sans-serif;


} 

/*.highlight {
	color: rgba(255, 255, 255, 0.6);
}*/

/*.city {
  background-image: url(images/building.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  background-color: #D2CDCD;
  height: auto;
}*/


/*
.heading {
  box-sizing: border-box;
  margin: 0 auto;
  position: inherit;
  text-align: center;
  padding-top: 300px;
  width: 70%;
}*/

/*.btn {
  background-color: #91DBA6;
  color: #FFF;
  font-size: 26px;
  padding: 14px;
  border-radius: 5px;
  margin-top: 20px;*/
/*  background-image: -webkit-linear-gradient(#FFD194, #BC1324);*/


/*h1 {
  color: #FFF;
  font-size: 35px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
}

.heading h1 {
	background-color: rgba(145, 219, 166, 0.4);
  }*/

 #navigation {
 	font-size: 20px;
 	display: block;
 	text-align: right;
 	background-color: rgba(210, 205, 205, 0.5);
 	padding: 1em;

 }

#navigation img {
	float: left;
	border-radius: 100%;
	display: block;
    height: 40px;

}

#navigation a {
	color: white;
	padding: 0.25em;
	text-align: right;
}




.about {
	padding: 2em;
}

.about h1 {
	text-align: center;
	color: #91DBA6;
	font-size: 40px;
	font-family: 'Rubik', sans-serif;

}

.about img {
	margin: auto;
	border-radius: 100%;
	display: block;
    height: 200px;
}

.about p {
	text-align: center;
	color: gray;
	padding-top: 20px;
	font-size: 20px;
}
/*
.services h1 {
	text-align: center;
	color: #91DBA6;
	padding-top: 20px;
	font-size: 40px;
	font-family: 'Rubik', sans-serif;

}*/

.expertise-containter {
	padding: 3em;

}

.col-4 {
	text-align: center;
}

.row {
	margin: 20px 0;
    position: relative;
    display: block;
}

.red-line {
	display: inline-block;
    width: 30px;
    height: 2px;
    margin: 10px 0 20px;
    background-color: #e9204f;
}

.services-col .col-4 {
	padding: 0;
    padding-right: 15px;
}

.col-4 .services-col h4 {
	text-align: left;
}

.services-list {
	display: block;
    width: 100%;
    list-style-type: none;
    text-align: left;

}

.services-item {
	width: 300px;
    background-color: rgba(210, 205, 205, 0.6);
    padding: 25px;
    margin: 25px;
}

.services-table {
	text-align: center;
}
.services-table .row {
	display: inline-flex;
}

.services-item:hover { 
    background-color: #E96D6E;
}


.section4 { 
  padding: 30px;

}

 .section {
    top: 0;
    color: white;
    background-color: white;
    padding: 70px 0;
    text-align: center;
    }

.bio-pic {
  width: 100%;
  /*height: 300px;*/
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.bio-pic img {
  display: inline-block;
}


.bio-pic:hover {
  /*background-color: #39CCCC;*/
  /*opacity: 0.3;*/
}


.bio-pic .linkedin {
  /*display: none;*/
  color: white;
  font-size: 20px;
  text-align: center;
  display: block;
  margin-top: 20px;
}

.bio-pic:hover .linkedin {
  color: #383838;
  font-family: 'Lato', sans-serif;
 /* opacity: 1;*/
  
}

.bio-pic:hover img {
  opacity: 0.3;
}

.col-lg-4 col-md-4 col-sm-4 col-xs-12 {
	overflow: scroll;
}

.icanhelp {
	text-align: center;
	margin-bottom: 8em;
    padding: 1em;

}
.btn-contact {
	background-color: #E96D6E; 
    border: none;
    color: #FFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

a {
	color: #FFF
}

.footer { 
    display: block;
    background-color: #E96D6E;
    color: #FFF;
	height: 100px;
    margin-top: -50px;
}
/*.portfolio-list {
	display: inline-flex;
    list-style-type: none;

}

.portfolio-list li {
	padding: 1em;
}


#portfolio-img:hover {
	background-color: #E96D6E;

}
*/


/*.portfolio-item-1 {
	background-image: url(images/makeamovecoaching.png);
}

.portfolio-item-2 {
	background-image: url(images/tgindustries.png);
}

.portfolio-item-2 {
	background-image: url(images/popartmcgill.png);
}
*/

/*.imagecontainer {
	width:100%;
	height: auto;
	background: url(images/star.jpg) 50% 0 no-repeat;
	background-size:cover;
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 2em;
	text-align: center;
   }*/
